// Disable Edit this page link
.td-page-meta--edit {
  display: none !important;
}
// Disable Create child page link
.td-page-meta--child {
  display: none !important;
}

details > summary {
  font-weight: bold;
}

details > summary + * {
  margin-top: 1rem;
}
