---
title: "Download sett"
linkTitle: "Download sett"
weight: 20
---

<script src="/ua-parser.pack.js"></script>
<script type="text/javascript">
  const ALL_OS = ["windows", "linux", "macos"];
  const ALL_ARCH = ["amd64", "aarch64"];

  function dotJoined(arr) {
    return arr.map((val) => "." + val).join(", ");
  }

  /** Makes all download buttons visible. */
  function showAll() {
    $(dotJoined(ALL_OS)).show();
    $(dotJoined(ALL_ARCH)).show();
    $("#showAll").hide();
  }

  function filterBy(os, arch) {
    os = os.toLowerCase();
    if (os.indexOf("mac") > -1) {
      os = "macos";
    }
    // If it is neither `windows` nor `macos`, it is then `linux`.
    if (os !== "windows" && os !== "macos") {
      os = "linux";
    }
    $(dotJoined(ALL_OS.filter((x) => x !== os))).hide();
    // `arch` could be `undefined` if the browser does not provide the information.
    if (arch) {
      arch = arch.toLowerCase();
      if (arch === "arm64") {
        arch = "aarch64";
      }
      // If the extracted architecture is not in the list, we don't hide anything.
      if (ALL_ARCH.indexOf(arch) > -1) {
        $(dotJoined(ALL_ARCH.filter((x) => x !== arch))).hide();
      }
    }
  }

  $(document).ready(() => {
    const ua = new UAParser();
    // Output the result to the console as it could be useful for debugging.
    console.log("UAParser:", ua.getResult());
    let os = ua.getOS().name;
    let arch = ua.getCPU().architecture;
    if (!os || !arch) {
      // Try to get the information from the client hints.
      UAParser()
        .withClientHints()
        .then((result) => {
          // Output the result to the console as it could be useful for debugging.
          console.log("withClientHints:", result);
          os = result.os.name;
          arch = result.cpu.architecture;
          filterBy(os, arch);
        });
    } else {
      filterBy(os, arch);
    }
  });
</script>

<a href="javascript: showAll();" id="showAll">Show all downloads</a>
<div class="grid">
  <div class="windows">
    <div class="logo"><image src="windows-logo.svg" /></div>
    <div class="download-group cli">
      <div class="download-group-name">CLI</div>
      <div class="download-buttons">
        <a
          href='https://gitlab.com/biomedit/sett-rs/-/releases/sett-cli/{{< param "sett_version_cli" >}}/downloads/sett-cli/sett-cli_x86_64-pc-windows-msvc.exe'
          class="download-button amd64"
          >x86_64</a
        >
      </div>
    </div>
    <div class="download-group desktop">
      <div class="download-group-name">Desktop</div>
      <div class="download-buttons">
        <a
          href='https://gitlab.com/biomedit/sett-rs/-/releases/sett-gui/{{< param "sett_version_gui" >}}/downloads/sett-gui/sett-gui_x86_64-pc-windows-msvc.exe'
          class="download-button amd64"
          >Standalone</a
        >
        <a
          href='https://gitlab.com/biomedit/sett-rs/-/releases/sett-gui/{{< param "sett_version_gui" >}}/downloads/sett-gui/sett-gui_x64-setup.exe'
          class="download-button amd64"
          >Installer</a
        >
      </div>
    </div>
  </div>
  <div class="linux">
    <div class="logo"><image src="linux-logo.svg" /></div>
    <div class="download-group cli">
      <div class="download-group-name">CLI</div>
      <div class="download-buttons">
        <a
          href='https://gitlab.com/biomedit/sett-rs/-/releases/sett-cli/{{< param "sett_version_cli" >}}/downloads/sett-cli/sett-cli_aarch64-unknown-linux-gnu'
          class="download-button aarch64"
          >aarch64</a
        >
        <a
          href='https://gitlab.com/biomedit/sett-rs/-/releases/sett-cli/{{< param "sett_version_cli" >}}/downloads/sett-cli/sett-cli_x86_64-unknown-linux-gnu'
          class="download-button amd64"
          >x86_64</a
        >
      </div>
    </div>
    <div class="download-group desktop">
      <div class="download-group-name">Desktop</div>
      <div class="download-buttons">
        <a
          href='https://gitlab.com/biomedit/sett-rs/-/releases/sett-gui/{{< param "sett_version_gui" >}}/downloads/sett-gui/sett-gui_amd64.AppImage'
          class="download-button amd64"
          >.AppImage</a
        >
        <a
          href='https://gitlab.com/biomedit/sett-rs/-/releases/sett-gui/{{< param "sett_version_gui" >}}/downloads/sett-gui/sett-gui_x86_64-unknown-linux-gnu'
          class="download-button amd64"
          >x86_64</a
        >
        <a
          href='https://gitlab.com/biomedit/sett-rs/-/releases/sett-gui/{{< param "sett_version_gui" >}}/downloads/sett-gui/sett-gui_amd64.deb'
          class="download-button amd64"
          >.deb</a
        >
      </div>
    </div>
  </div>
  <div class="macos">
    <div class="logo"><image src="apple-logo.svg" /></div>
    <div class="download-group cli">
      <div class="download-group-name">CLI</div>
      <div class="download-buttons">
        <a
          href='https://gitlab.com/biomedit/sett-rs/-/releases/sett-cli/{{< param "sett_version_cli" >}}/downloads/sett-cli/sett-cli_aarch64-apple-darwin'
          class="download-button aarch64"
          >aarch64</a
        >
        <a
          href='https://gitlab.com/biomedit/sett-rs/-/releases/sett-cli/{{< param "sett_version_cli" >}}/downloads/sett-cli/sett-cli_x86_64-apple-darwin'
          class="download-button amd64"
          >x86_64</a
        >
      </div>
    </div>
    <div class="download-group desktop">
      <div class="download-group-name">Desktop</div>
      <div class="download-buttons">
        <a
          href='https://gitlab.com/biomedit/sett-rs/-/releases/sett-gui/{{< param "sett_version_gui" >}}/downloads/sett-gui/sett-gui_universal.dmg'
          class="download-button"
          >.dmg</a
        >
      </div>
    </div>
  </div>
</div>

<p>
  You can download the latest version of sett for your operating system by
  clicking on the corresponding link above.
</p>

<h3>Downloading a specific version of sett</h3>

<p>
  For a complete list of available versions, please visit the
  <a href="https://gitlab.com/biomedit/sett-rs/-/releases" target="_blank"
    >releases page</a
  >.
</p>

<h3>Updating sett</h3>

<p>
  As only the latest version of sett is officially supported and guaranteed to
  work, it is strongly recommended to always keep your local installation of
  sett up-to-date.
</p>

<p>
  If you installed sett using the installer available for your operating system,
  sett will automatically check for updates and prompt you to install the newest
  version as soon as it's available.
</p>

<p>
  If you are running a portable executable, make sure you regularly check this
  page and download the latest version of the executable.
</p>

<style>
  .grid {
    display: flex;
    flex-wrap: nowrap;
    margin: 2rem 0;
  }
  .logo {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: #d8e2ec 1px solid;
  }
  .download-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
    padding: 1rem;
  }
  .download-group-name {
    font-weight: bold;
    padding-right: 1rem;
    padding-top: 0.5rem;
  }
  .download-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0.5rem;
    align-items: flex-start;
  }
  .download-button {
    padding: 10px 20px;
    color: #ffffff;
    background-color: #e30613;
    border-radius: 6px;
    transition: 0.3s;
  }
  .download-button:hover,
  .download-button:focus {
    background-color: #d8e2ec;
  }
</style>
